archiModels/archi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Administrator (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.bolton.ac.uk/archimate" targetNamespace="http://www.bolton.ac.uk/archimate">
	<xs:import schemaLocation="archi1.xsd"/>
	<xs:complexType name="Value">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UsedByRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TriggeringRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemSoftware">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpecialisationRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Representation">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RealisationRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Principle">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Node">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Network">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InfrastructureService">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Group">
		<xs:complexContent>
			<xs:extension base="T_child"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FlowRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DiagramObject">
		<xs:complexContent>
			<xs:extension base="T_child"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DiagramModelReference">
		<xs:complexContent>
			<xs:extension base="T_child"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Device">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataObject">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Contract">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Connection">
		<xs:complexContent>
			<xs:extension base="T_sourceConnection"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompositionRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessService">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessRole">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessProcess">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessObject">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessInterface">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessInteraction">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessFunction">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessEvent">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessCollaboration">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BusinessActor">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssociationRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssignmentRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ArchimateDiagramModel">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApplicationService">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApplicationFunction">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ApplicationComponent">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AggregationRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccessRelationship">
		<xs:complexContent>
			<xs:extension base="T_element"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="model">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="folder" maxOccurs="unbounded"/>
				<xs:element ref="purpose"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2.2.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Archisurance"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="11f5304f"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
