import/xmi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated and edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by david (home) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="XMI.metamodel">
		<xs:complexType>
			<xs:attribute name="xmi.version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1.3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xmi.name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="UML"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="XMI.header">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="XMI.documentation"/>
				<xs:element ref="XMI.metamodel"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="XMI.extensions">
		<xs:complexType>
			<xs:attribute name="xmi.extender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Enterprise Architect 2.5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="XMI.exporterVersion">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="3.1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="XMI.exporter">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Enterprise Architect"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="XMI.documentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="XMI.exporter"/>
				<xs:element ref="XMI.exporterVersion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="XMI.difference">
		<xs:complexType/>
	</xs:element>
	<xs:element name="XMI.content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Model_Management.Model"/>
				<xs:element ref="Foundation.Extension_Mechanisms.TaggedValue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="XMI">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="XMI.header"/>
				<xs:element ref="XMI.content"/>
				<xs:element ref="XMI.difference"/>
				<xs:element ref="XMI.extensions"/>
			</xs:sequence>
			<xs:attribute name="xmi.version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="timestamp" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2013-01-29 10:19:23"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Model_Management.Package">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Foundation.Core.Namespace.ownedElement"/>
			</xs:sequence>
			<xs:attribute name="xmi.idref">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_F6578943_B689_47fe_8313_19BCC9D2AB52"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xmi.id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_F6578943_B689_47fe_8313_19BCC9D2AB52"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Model_Management.Model">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Foundation.Core.Namespace.ownedElement"/>
			</xs:sequence>
			<xs:attribute name="xmi.id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MX_EAID_F6578943_B689_47fe_8313_19BCC9D2AB52"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Extension_Mechanisms.TaggedValue.value" type="xs:string"/>
	<xs:element name="Foundation.Extension_Mechanisms.TaggedValue.tag" type="xs:string"/>
	<xs:element name="Foundation.Extension_Mechanisms.TaggedValue.modelElement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Extension_Mechanisms.TaggedValue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Extension_Mechanisms.TaggedValue.tag"/>
				<xs:element ref="Foundation.Extension_Mechanisms.TaggedValue.value"/>
				<xs:element ref="Foundation.Extension_Mechanisms.TaggedValue.modelElement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Data_Types.MultiplicityRange.upper">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="-1"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Foundation.Data_Types.MultiplicityRange.lower">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Foundation.Data_Types.MultiplicityRange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Data_Types.MultiplicityRange.lower"/>
				<xs:element ref="Foundation.Data_Types.MultiplicityRange.upper"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Data_Types.Multiplicity.range">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Data_Types.MultiplicityRange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Data_Types.Multiplicity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Data_Types.Multiplicity.range"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Namespace.ownedElement">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Behavioral_Elements.Collaborations.ClassifierRole" maxOccurs="unbounded"/>
				<xs:sequence>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Comment" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Association"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Association"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Comment" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Component"/>
					<xs:element ref="Foundation.Core.Comment" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Comment"/>
					<xs:element ref="Foundation.Core.Component" maxOccurs="unbounded"/>
					<xs:element ref="Foundation.Core.Dependency"/>
					<xs:element ref="Behavioral_Elements.Collaborations.Collaboration"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Foundation.Core.Class"/>
					<xs:element ref="Model_Management.Package"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.ModelElement.visibility">
		<xs:complexType>
			<xs:attribute name="xmi.value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="private"/>
						<xs:enumeration value="public"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.ModelElement.supplierDependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.ModelElement.namespace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Model_Management.Package"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.ModelElement.name" type="xs:string"/>
	<xs:element name="Foundation.Core.ModelElement.isSpecification">
		<xs:complexType>
			<xs:attribute name="xmi.value" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.ModelElement.clientDependency">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.Dependency" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.ModelElement">
		<xs:complexType>
			<xs:attribute name="xmi.idref" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.GeneralizableElement.isRoot">
		<xs:complexType>
			<xs:attribute name="xmi.value" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.GeneralizableElement.isLeaf">
		<xs:complexType>
			<xs:attribute name="xmi.value" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.GeneralizableElement.isAbstract">
		<xs:complexType>
			<xs:attribute name="xmi.value" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Dependency.supplier">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Dependency.client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Dependency">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.Dependency.client"/>
				<xs:element ref="Foundation.Core.Dependency.supplier"/>
			</xs:sequence>
			<xs:attribute name="xmi.idref" type="xs:string"/>
			<xs:attribute name="xmi.id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Component">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Foundation.Core.ModelElement.namespace"/>
				<xs:choice minOccurs="0">
					<xs:element ref="Foundation.Core.ModelElement.supplierDependency"/>
					<xs:sequence>
						<xs:element ref="Foundation.Core.ModelElement.clientDependency"/>
						<xs:element ref="Foundation.Core.ModelElement.supplierDependency" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="xmi.idref" type="xs:string"/>
			<xs:attribute name="xmi.id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Comment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.ModelElement.namespace"/>
			</xs:sequence>
			<xs:attribute name="xmi.id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Class.isActive">
		<xs:complexType>
			<xs:attribute name="xmi.value" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Class">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Foundation.Core.Class.isActive"/>
			</xs:sequence>
			<xs:attribute name="xmi.idref">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAID_11111111_5487_4080_A7F4_41526CB0AA00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xmi.id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAID_11111111_5487_4080_A7F4_41526CB0AA00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.Component"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.targetScope">
		<xs:complexType>
			<xs:attribute name="xmi.value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="instance"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.ordering">
		<xs:complexType>
			<xs:attribute name="xmi.value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="unordered"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.multiplicity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Data_Types.Multiplicity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.isNavigable">
		<xs:complexType>
			<xs:attribute name="xmi.value" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.changeability">
		<xs:complexType>
			<xs:attribute name="xmi.value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd.aggregation">
		<xs:complexType>
			<xs:attribute name="xmi.value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="none"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.AssociationEnd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.AssociationEnd.isNavigable"/>
				<xs:element ref="Foundation.Core.AssociationEnd.ordering"/>
				<xs:element ref="Foundation.Core.AssociationEnd.aggregation"/>
				<xs:element ref="Foundation.Core.AssociationEnd.targetScope"/>
				<xs:element ref="Foundation.Core.AssociationEnd.multiplicity"/>
				<xs:element ref="Foundation.Core.AssociationEnd.changeability"/>
				<xs:element ref="Foundation.Core.AssociationEnd.type"/>
			</xs:sequence>
			<xs:attribute name="xmi.id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Association.connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.AssociationEnd" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Foundation.Core.Association">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Foundation.Core.Association.connection"/>
			</xs:sequence>
			<xs:attribute name="xmi.id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAID_091A3FE4_87A3_4cdf_A2B0_5D5C5EF4BB99"/>
						<xs:enumeration value="EAID_3EA547A6_4FF3_412a_B1E9_688BD282C49B"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Behavioral_Elements.Collaborations.Collaboration.interaction">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Behavioral_Elements.Collaborations.Collaboration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Foundation.Core.Namespace.ownedElement"/>
				<xs:element ref="Behavioral_Elements.Collaborations.Collaboration.interaction"/>
			</xs:sequence>
			<xs:attribute name="xmi.id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Behavioral_Elements.Collaborations.ClassifierRole.multiplicity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Data_Types.Multiplicity"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Behavioral_Elements.Collaborations.ClassifierRole.base">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.Class"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Behavioral_Elements.Collaborations.ClassifierRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Foundation.Core.ModelElement.name"/>
				<xs:element ref="Foundation.Core.ModelElement.visibility"/>
				<xs:element ref="Foundation.Core.ModelElement.isSpecification"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isRoot"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isLeaf"/>
				<xs:element ref="Foundation.Core.GeneralizableElement.isAbstract"/>
				<xs:element ref="Behavioral_Elements.Collaborations.ClassifierRole.multiplicity"/>
				<xs:element ref="Behavioral_Elements.Collaborations.ClassifierRole.base"/>
				<xs:element ref="Foundation.Core.ModelElement.clientDependency" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="xmi.id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAID_694FC399_16D6_48dd_A04B_1144B53D9E90"/>
						<xs:enumeration value="EAID_C04D3E7F_771E_42e4_830A_5BCEF2F8292D"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
